a {
    color: $primary;

    &:hover {
        color: $primary-dark;
    }

    &:visited {
        // color: lighten($primary, 25%);
   
    }

    &:active {
        color: $primary-darker;
    }
}

p {
    margin: 1.25rem 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.25rem 0;
}

h1 {
    font-size: $fontsize * 2;
    font-weight: 600;
}

h2 {
    font-size: $fontsize * 1.8;
    font-weight: 600;
}

h3 {
    font-size: $fontsize * 1.5;
    font-weight: 400;
}

h4 {
    font-size: $fontsize * 1.4;
    font-weight: 400;
}

h5 {
    font-size: $fontsize * 1.2;
    font-weight: 400;
}

h6 {
    font-size: $fontsize * 1.1;
    font-weight: 300;
}

strong,
b {
    font-weight: 600;

    &.semi-bold {
        font-weight: 500;
    }
}

em {
    font-style: italic;
}

small {
    font-size: 1.3rem;
}

h1 > small {
    font-size: 1.8rem;
}

.fa, .fab, .fal, .far, .fas {
    margin: 0.5rem 0;
}
