.box {
    background-color: $white;
    box-shadow: 0 2px 4px rgba($black, 0.18);
    padding: 2rem;
    z-index: 200;
    width: 100%;

    + .box {
        margin-top: 4rem;
    }

    &__flex-container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        text-align: center;
        max-width: 65%;
    }

    &__content {}
}
