.button {
    align-items: center;
    background-image: $gradient;
    border-radius: 5rem;
    border: 0;
    color: $white;
    display: flex;
    font-size: 1.8rem;
    font-weight: 400;
    justify-content: center;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0.2rem 0.2rem rgba($black, 0.25);
    transition: all 0.25s ease-in-out;
    width: 100%;

    + .button {
        margin: 1rem 0;
    }

    &--small {
        padding: 0.5rem 1rem;
    }

    i {
        margin-left: 1rem;
    }

    &:hover {
        color: $white;
        background-image: $inverted_gradient;
    }

    &--alt {
        background-image: $inverted_gradient;

        &:hover {
            background-image: $gradient;
        }
    }
}
