.icon-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    text-align: center;

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    p {
        margin: 0.5rem 0;
    }

    &__title {
        display: block;
        font-size: 2rem;
        padding: 0;
        justify-self: flex-start;
        margin: 0;
        margin-bottom: auto !important;
    }

    &__icon {
        align-items: center;
        background-image: $gradient;
        border-radius: 5rem;
        color: $white;
        display: flex;
        flex-direction: column;
        height: 5rem;
        justify-content: center;
        width: 5rem;

        i {
            font-size: 2.5rem;
        }

        &--alt {
            background: $alt_gradient;
        }

        &--large {
            height: 10rem;
            width: 10rem;

            i {
                font-size: 5rem;
            }
        }
    }
}
