.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 101;
    padding: 2rem 0;

    &__navigation {
        display: flex;
        align-items: center;
        width: 70%;
    }

    &__logo {
        width: 30%;

        p, a {
            color: $white;
            font-weight: 600;
            font-size: 2rem;
            text-decoration: none;
            transition: all 0.25s ease-in-out;

            &:hover {
                background-image: $inverted_alt_gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}
